
# Flutter/Dart/Pub related
# IntelliJ related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
# Miscellaneous
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
**/doc/api/
*.class
*.iml
*.ipr
*.iws
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.dart_tool/
.flutter-plugins-dependencies
.history
.idea/
.packages
.svn/
/pubspec.lock
build/
migrate_working_dir/
pubspec.lock
